/* [class^="container"],
[class^="col"] {
  border: 1px solid black;
} */


header {
  height: 90px;
  background-color: #2c3e50;
}

/* NAVBAR */
.sd-navbar {
  color: white;
}

.sd-nav-container-fluid {
  padding-left: 0;
  padding-right: 0;
}

i.sd-icon-hamburger {
  color: #6e7378;
  font-size: 1.5rem;
}

.sd-hamburger {
  border-color: white;
  padding: 0.5rem 0.8rem;
}

/* JUMBOTRON */
.jumbotron {
  background-color: #1abc9c;
  color: white;
  padding-bottom: 20px;
}

.jumbotron .row.image {
  height: 65%;
  margin-bottom: 20px;
}

.jumbotron .row img {
  height: 270px;
}

.jumbotron .icon {
  color: white;
}

.icon {
  font-size: 2rem;
}

.hyphen.icon::after, 
.hyphen.icon::before {
  content: "";
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
}

.star {
  margin: 15px 0;
}

.jumbo-list {
  font-size: 1rem;
}

section {
  padding-top: 40px;
  padding-bottom: 30px;
}

/* PORTFOLIO */
.portfolio {
  background-color: #ffffff;
}

.sd-container-special .hyphen.icon::after,
.sd-container-special .hyphen.icon::before{
  width: 80px;
}

.portfolio .hyphen.icon::before,
.contactme .hyphen.icon::before,
.portfolio .hyphen.icon::after,
.contactme .hyphen.icon::after {
  background-color: black; 
}

.portfolio .album .col {
  margin-bottom: 30px;
}

/* ABOUT */
.sd-container-special {
  width: 65%;
  margin: 0 auto;
}

.about {
  background-color: #1abc9c;
  color: white;
}

.about p {
  font-size: 18px;
}

.sd-btn {
  border: 1px solid white;
  color: white;
  padding: 8px 15px;
}

.sd-btn:hover {
  border: 1px solid white;
}

 .icon-download {
  margin-right: 10px;
}

/* CONTACTME */
.contactme {
  background-color: #ffffff;
}

.sd-form .form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.sd-area > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
  height: 180px;
}

.sd-submit {
  margin-top: 20px;
  background-color: #1abc9c;
  color: white;
}

.sd-submit:hover {
  background-color: #1abc9c;
  color: white;
}


/* FOOTER*/
footer {
  color: white;
}

.footer-top {
  background-color: #3a546d;
}

.footer-bottom {
  background-color: #2c3e50;
}